@model EticaretSitesiCix.Models.Urun

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Olcu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Olcu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotograf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotograf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnaSayfadaMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnaSayfadaMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StoktaMi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StoktaMi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
